<!doctype html>
<html>
<head>
    <title>Virtuwaitress Dashboard: Analytics</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Virtuwaitress Dashboard: Analytics</h1>
        <a href="/admin" class="btn btn-default btn-sm">Dashboard Home</a>
        <a href="/socialMedia" class="btn btn-default btn-sm">Social Media</a>
        <a href="/history" class="btn btn-default btn-sm">Order History</a>
        <a href="/analytics" class="btn btn-default btn-sm">Analytics</a>
        <a href="/signup" class="btn btn-default btn-sm">Add New Table</a>
        <a href="/" class="btn btn-default btn-sm">Customer View</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div>
      <h2>Menu Item Popularity by # Times Ordered</h2>
      <div id="graph1">
        <center>
          <img src="/img/loading.gif"/>
        </center>
      </div>

      <h2>Menu Item Popularity by Rating</h2>
      <div id="graph2">
        <center>
          <img src="/img/loading.gif"/>
        </center>
      </div>
    </div>

  <script src="js/libs/jquery-1.11.2.min.js"></script>
  <script src="js/history.js"></script>
</div>
</body>
</html>
