<!doctype html>
<html>
<head>
    <title>Virtuwaitress Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Virtuwaitress Dashboard</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/"class="btn btn-default btn-sm">Main Page</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>id</strong>: <%= user.id %><br>
                        <strong>email</strong>: <%= user.username %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>
            </div>
        </div>
    </div>

  <script type="text/x-handlebars" data-template-name="foods/index">
    <table class="editlist" width="100%">
      {{#each item in model itemController="food"}}
      <tr>
        <td rowspan="3">
          {{input type="checkbox" checked=item.isInactive class="toggle"}}
        </td>
        <td {{bind-attr class="item.isInactive:inactive"}}>
          {{view "select"
            contentBinding="App.validCategories"
            valueBinding="item.category"
          }}
        </td>
        <td {{bind-attr class="item.isInactive:inactive"}}>
{{#if item.isEditingTitle}}
          {{edit-item class="edit" value=item.title focus-out="acceptChange" insert-newline="acceptChange"}}
{{else}}
          <label class="menu hoverglow" {{action "editTitle" on="click" }}>{{item.title}}</label>
{{/if}}
        </td>
        <td {{bind-attr class="item.isInactive:inactive"}}>
{{#if item.isEditingPrice}}
          {{edit-item class="edit" value=item.price focus-out="acceptChange" insert-newline="acceptChange"}}
{{else}}
          <label class="menu hoverglow" {{action "editPrice" on="click" }}>${{item.price}}</label>
{{/if}}
        </td>
        <td  {{bind-attr class="item.isInactive:inactive"}} rowspan="3" style="min-width:104px">
          <label>{{input type='checkbox' checked=item.vegan}} Vegan</label>
          <label>{{input type='checkbox' checked=item.vegetarian}} Vegetarian</label>
          <label>{{input type='checkbox' checked=item.gluten_free}} Gluten-Free</label>
        </td>
        <td rowspan="3">
          <button {{action "removeItem"}} class="destroy"></button>
        </td>
      </tr>
      <tr>
        <td {{bind-attr class="item.isInactive:inactive"}}>
{{#if item.isEditingImage}}
          {{edit-item class="edit" value=item.image_url focus-out="acceptChange" insert-newline="acceptChange"}}
{{else}}
          <img {{bind-attr src=item.image_url}} class="hoverglow" {{action "editImage" on="click" }} style="height:67px;margin-left:0px" alt="">
{{/if}}
        </td>
        <td colspan="2" {{bind-attr class="item.isInactive:inactive"}}>
{{#if item.isEditingDescription}}
          {{edit-item class="edit" value=item.description focus-out="acceptChange" insert-newline="acceptChange"}}
{{else}}
          <label class="menu-description hoverglow" {{action "editDescription" on="click" }}>{{item.description}}</label>
{{/if}}
        </td>
      </tr>
      <tr>
        <td colspan="3" {{bind-attr class="item.isInactive:inactive"}}>
{{#if item.has1Star}}
          <i class="fa fa-star star-filled"></i>
{{else}}
          <i class="fa fa-star star-empty"></i>
{{/if}}
{{#if item.has2Stars}}
          <i class="fa fa-star star-filled"></i>
{{else}}
          <i class="fa fa-star star-empty"></i>
{{/if}}
{{#if item.has3Stars}}
          <i class="fa fa-star star-filled"></i>
{{else}}
          <i class="fa fa-star star-empty"></i>
{{/if}}
{{#if item.has4Stars}}
          <i class="fa fa-star star-filled"></i>
{{else}}
          <i class="fa fa-star star-empty"></i>
{{/if}}
{{#if item.has5Stars}}
          <i class="fa fa-star star-filled"></i>
{{else}}
          <i class="fa fa-star star-empty"></i>
{{/if}}
          ({{item.avg_rating}} RATING, {{item.total_ratings}} VOTES)
        </td>
      </tr>
      {{/each}}
    </table>
  </script>

  <script type="text/x-handlebars" data-template-name="foods">
  <center>
      <section class="dashboard">
        <section class="main">
          {{outlet}}
          <table class="editlist newItem" width="100%">
            <tr>
              <td>
              </td>
              <td colspan="4">
                <div style="padding:4px"><b>New Menu Item</b></div>
              </td>
            </tr>
            <tr>
              <td>
                {{input type="checkbox" checked=newInactive class="toggle"}}
              </td>
              <td>
                {{view "select"
                  contentBinding="App.validCategories"
                  value=newCategory
                }}
              </td>
              <td>
                {{edit-item class="edit" value=newTitle placeholder="TITLE"}}
                {{edit-item class="edit" value=newPrice placeholder="PRICE"}}
                {{edit-item class="edit" value=newDescription placeholder="DESCRIPTION"}}
                {{edit-item class="edit" value=newImage placeholder="IMAGE URL (/img/menu/...)"}}
              </td>
              <td style="min-width:104px">
                <label>{{input type='checkbox' checked=newVegan}} Vegan</label>
                <label>{{input type='checkbox' checked=newVegetarian}} Vegetarian</label>
                <label>{{input type='checkbox' checked=newGlutenFree}} Gluten-Free</label>
              </td>
              <td>
                <button {{action "createMenuItem"}} class="plus"></button>
              </td>
            </tr>
          </table>
        </section>
    </center>
  </script>

  <script src="js/libs/jquery-1.11.2.min.js"></script>
  <script src="js/libs/handlebars-v1.3.0.js"></script>
  <script src="js/libs/ember.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/emberApp.js"></script>
  <script src="js/router.js"></script>

<!--  Models -->
  <script src="js/emberModels/food.js"></script>
  <script src="js/emberModels/gram.js"></script>
  <script src="js/emberModels/tweet.js"></script>

<!-- Controllers -->
  <script src="js/emberControllers/foodsController.js"></script>
  <script src="js/emberControllers/foodController.js"></script>
  <script src="js/emberControllers/gramsController.js"></script>
  <script src="js/emberControllers/gramController.js"></script>
  <script src="js/emberControllers/tweetsController.js"></script>
  <script src="js/emberControllers/tweetController.js"></script>

<!-- Views -->
  <script src="js/emberViews/editItemView.js"></script>
  <script src="js/emberViews/approveTweetView.js"></script>
  <script src="js/emberViews/approveGramView.js"></script>

</div>

</body>
</html>
